html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0c3e54;
  background-repeat: no-repeat;
  background-image: url(../images/bg.jpg);
  background-size: 100% auto;
  background-position: 50% 0;
  overflow-x: hidden;
}

.movieFrame {
  position: fixed;
  top: 0;
  left: 0;
}
